vti_encoding:SR|utf8-nl
vti_author:SR|MACHINE-PC\\machine
vti_modifiedby:SR|MACHINE-PC\\machine
vti_timelastmodified:TR|30 Mar 2017 06:19:30 -0000
vti_timecreated:TR|30 Mar 2017 06:09:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|30 Mar 2017 06:09:53 -0000
vti_cacheddtm:TX|30 Mar 2017 06:19:30 -0000
vti_filesize:IR|128
vti_cachedlinkinfo:VX|S|../New\\ forms\\ for\\ printing/clan\\ form.PNG H|clan\\ form
vti_cachedsvcrellinks:VX|FSUS|New\\ forms\\ for\\ printing/clan\\ form.PNG NHUS|template/clan\\ form
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_syncwith_localhost\\c\:\\users\\machine\\desktop\\scottish festival work in progress\\template\\master website templates/c\:/users/machine/desktop/scottish festival work in progress/template/master website templates:TR|30 Mar 2017 06:19:30 -0000
