vti_encoding:SR|utf8-nl
vti_author:SR|MACHINE-PC\\machine
vti_modifiedby:SR|MACHINE-PC\\machine
vti_timelastmodified:TR|29 Mar 2017 13:11:40 -0000
vti_timecreated:TR|29 Mar 2017 11:38:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|29 Mar 2017 11:38:06 -0000
vti_cacheddtm:TX|29 Mar 2017 13:11:40 -0000
vti_filesize:IR|1533
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|CSS/style.css S|Logo2resized.png H|file:///C:/Users/machine/Desktop/Scottish\\ Festival\\ work\\ in\\ progress/Logo2resized.png H|https://www.facebook.com/pentictonscottishfestival/ S|Images/facebook\\ logo.PNG H|https://www.youtube.com/results S|Images/youtube\\ logo.PNG H|file:///C:/Users/machine/Desktop/Scottish\\ Festival\\ work\\ in\\ progress/Images/youtube\\ logo.PNG
vti_cachedsvcrellinks:VX|NQUS|template/CSS/style.css NSUS|template/Logo2resized.png FHUS|Logo2resized.png NHSS|https://www.facebook.com/pentictonscottishfestival/ NSUS|template/Images/facebook\\ logo.PNG NHSS|https://www.youtube.com/results NSUS|template/Images/youtube\\ logo.PNG FHUS|Images/youtube\\ logo.PNG
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_syncwith_localhost\\c\:\\users\\machine\\desktop\\scottish festival work in progress\\template\\master website templates/c\:/users/machine/desktop/scottish festival work in progress/template/master website templates:TR|29 Mar 2017 13:11:40 -0000
