vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Mar 2017 11:07:54 -0000
vti_author:SR|MACHINE-PC\\machine
vti_modifiedby:SR|MACHINE-PC\\machine
vti_nexttolasttimemodified:TW|30 Mar 2017 18:19:40 -0000
vti_timecreated:TR|31 Mar 2017 10:58:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\machine\\desktop\\scottish festival work in progress/c\:/users/machine/desktop/scottish festival work in progress:TR|30 Mar 2017 18:19:40 -0000
vti_backlinkinfo:VX|Competitive\\ Events.html Attractions.html gallery.html General\\ Information.html Volunteer.html template/Untitled_2.dwt slider.html template/slider.dwt template/Untitled_1.dwt Untitled_5.html Contact\\ Us.html log_in.html Untitled_1.html main.html index.html
vti_cacheddtm:TX|31 Mar 2017 11:07:54 -0000
vti_filesize:IR|4145
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|CSS/style.css S|Logo2resized.png H|Logo2resized.png H|https://www.facebook.com/pentictonscottishfestival/ S|Images/facebook\\ logo.PNG H|https://www.youtube.com/results S|Images/youtube\\ logo.PNG H|youtube\\ logo.PNG H|index.html H|General\\ Information.html H|Attractions.html H|Competitive\\ Events.html H|Volunteer.html H|Contact\\ Us.html H|log_in.html S|dancersresized.png H|file:///C:/Users/machine/Desktop/Scottish\\ Festival\\ work\\ in\\ progress/dancersresized.png S|Images/saltirespacer.jpg H|saltirespacer.jpg S|Images/saltirespacer.jpg H|saltirespacer.jpg H|General\\ Information.html H|https://www.pentictonlakesideresort.com/ S|Images/sponsors/lakeside-logo2.png H|sponsor
vti_cachedsvcrellinks:VX|FQUS|CSS/style.css FSUS|Logo2resized.png FHUS|Logo2resized.png NHSS|https://www.facebook.com/pentictonscottishfestival/ FSUS|Images/facebook\\ logo.PNG NHSS|https://www.youtube.com/results FSUS|Images/youtube\\ logo.PNG FHUS|youtube\\ logo.PNG FHUS|index.html FHUS|General\\ Information.html FHUS|Attractions.html FHUS|Competitive\\ Events.html FHUS|Volunteer.html FHUS|Contact\\ Us.html FHUS|log_in.html FSUS|dancersresized.png NHUS|file:///C:/Users/machine/Desktop/Scottish\\ Festival\\ work\\ in\\ progress/dancersresized.png FSUS|Images/saltirespacer.jpg FHUS|saltirespacer.jpg FSUS|Images/saltirespacer.jpg FHUS|saltirespacer.jpg FHUS|General\\ Information.html NHSS|https://www.pentictonlakesideresort.com/ FSUS|Images/sponsors/lakeside-logo2.png NHUS|sponsor
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
